@model RouteListingServiceModel
<div>
    <section>
        <h3>@Model.RouteName</h3>
        <div>
            Route Id: @Model.Id
        </div>
        <div>
            RouteId: @Model.RouteId
        </div>
        <div>
            Type: @Model.Type
        </div>
        <div>
            LineId: @Model.LineId
        </div>
        <div>
            ExtId: @Model.LineName
        </div>
        @*<div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">More</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        </div>*@
    </section>
    <br />
</div>