@model Metro2036.Services.Models.Station.StationDetailsViewModel
@{
    ViewBag.Title = "Details";
}
<h2>Details for</h2>
<h2>Station @Html.DisplayFor(model => model.Name)</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StantionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StantionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RouteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RouteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PointId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PointId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    </dl>
    <hr />
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Back</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
</div>

