@model Metro2036.Services.Models.Station.StationIndexViewModel

@{
    ViewBag.Title = "Stations";
}

<h1>Stations</h1>

@*@foreach (var station in Model.Stations)
    {
        <partial name="_Summary" model="station" />
    }*@
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("StantionId")
                </th>
                <th>
                    @Html.DisplayName("Name")
                </th>
                <th>
                    @Html.DisplayName("Code")
                </th>
                <th>
                    @Html.DisplayName("PointId")
                </th>

                <th>
                    @Html.DisplayName("Latitude")
                </th>
                <th>
                    @Html.DisplayName("Longitude")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var station in Model.Stations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => station.StantionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => station.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => station.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => station.PointId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => station.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => station.Longitude)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@station.Id" class="btn btn-info">Edit</a>
                        <a asp-action="Details" asp-route-id="@station.Id" class="btn btn-primary">Details</a>
                        <a asp-action="Delete" asp-route-id="@station.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Create" class="btn btn-success">Add Station</a>
</div>